@import '~react-widgets/dist/css/react-widgets.css';
@import '~react-big-calendar/lib/css/react-big-calendar.css';

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1
}

.fc-event-main {
  overflow: hidden;
  min-height: 10px;
}

.plan-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #002147;
  color: white;
  box-shadow: 2px 2px #566563;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  .plan-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 20px;
      margin: 5px;
      display: flex;
      .plan-title {
        margin-left: 10px;
      }
    }
  }
}

.plan-overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}